
<p>Add a person to a department to meet a need or create empty needs for later.</p>


<div class="well-med">
<%= form_for(@position) do |f| %>
<% if @position.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@position.errors.count, "error") %>
    prohibited this position from being saved:</h2>
  <ul>
    <% @position.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
<label class="na">Department</label>
<%= f.select :department_id,
Department.order('name asc').all.collect { |u| [u.name, u.id] },
  { selected: @department.id},
  { class: 'form-control selected' } %>
</div>

<div class="field">
<label class="na">Person</label> <span class="form-tiny-text">Leave blank to make just a need</span>
<%= f.select :part_id,
  Part.order('lastname asc').all.map { |u| [u.lastname + ", " + u.firstname, u.id] },
               { include_blank: true},
               { class: 'form-control selected' }
               %>
</div>

<div class="field">
  <label class="na">Responsibility Level</label>
  <%= f.select :position2, options_for_select([["Worker", "Worker"], ["Leader", "Leader"], ["Department Head", "Department Head"]], :selected => @position.position2), {:include_blank => false }, {:required => false, :class => 'form-control selected'} %>
</div>

<div class="field">
    <label class="na">Church Need</label>
  <%= f.text_field :need, :placeholder => 'ie. Car Parker', :class => 'form-control input-lg' %>
</div>

<div class="actions center">
  <%= f.submit "Save", :class => "btn btn-primary"%>
</div>
  <%= link_to "Cancel", :back, {:class=>"btn-sm btn-default btn-cancel"} %>
<% end %>
</div>
