<!-- <h1>Listing Positions/Departments</h1>

<p>
<span>Department</span> | <span>Position</span><br>
</p>


<% @positions.each do |position| %>
    <p><%= position.department.name %> |
        <%= position.part.firstName %> |
    <%= link_to 'Show', position %> |
    <%= link_to 'Edit', edit_position_path(position) %> |
    <%= link_to 'Delete', position, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>


<br />

<%= link_to 'New Position', new_position_path %> |
<%= link_to 'New Department', new_department_path %> -->
