<div class="row">
  <div class="col-sm-12">

    <div class="form">
      <h3 class="pull-left">Edit
        <%= resource_name.to_s.humanize %></h3><br><br><br>

      <%= link_to "Back", :back  %><br>

      <%= devise_error_messages! %> <br>

      <div class="well">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, :class => 'form-control input-lg' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for:
          <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <label>New Password</label>
          <i class="font-light">(leave blank if you don't want to change it)   <em>Minimum Length <%= @minimum_password_length %></em></i>
          <br/>
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control input-lg' %>
        </div>

        <div class="field">
          <label>New Password Confirmation</label><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control input-lg' %>
        </div><br>

        <div class="field">
          <label>Old Password</label>
          <i class="font-light">(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control input-lg' %>
        </div>

        <div class="field center">
          <label>User Role</label>
          <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %><br><br>
        </div>

        <div class="actions center">
          <%= f.submit "Update Password and Role", :class => "btn btn-primary" %>
        </div>
        <% end %>

      </div>



      <h3>Close Account</h3>
      <div class="well">
        <div class="center">
          Here you can close your account permanently
          <br><br>
          <%= button_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
