
  <div class="well">
    <%= form_for [@department] do |f| %>
    <div class="field">
    <%= f.text_field :name, :placeholder => 'Department Name', :class => 'form-control input-lg' %>
    </div>
    <div class="field">
    <%= f.text_area :description, :placeholder => 'Description', :class => 'form-control input-lg' %>
    </div>
    <div class="field">
    <%= f.hidden_field :leaderName, :placeholder => 'Leader Name', :class => 'form-control input-lg' %>
    </div>

<!-- Probably doesn't need -->
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="field center">
      <%= f.submit "Save", :class => "btn-sm btn-primary"%>
    </div>
  <% end %>
</div>
