<div class="flex-container-big">
  <div class="flex-block-big">

    <div class="row">
      <div class="col-sm-5">

        <div class="h2-white">Department - Show</div>
        <br><br>

        <h3><%= @department.name %> Department
        </h3><br><!-- family-name-end -->
        <span class="h5-grey">Description</span>
        <p><%= @department.description %></p>
        <span class="h5-grey">Leader</span>
        <p><%= @department.leaderName %></p>
        <br>

        <%= link_to "Delete Department", department_path(@department), :class => "btn btn-sm btn-danger pull-right",:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %>

        <!-- Javascript form toggle -->
        <div class="edit_family btn btn-sm btn-warning">Edit Department</div>
         <div class="edit_f">
           <%= render "form" %>
         </div>

      </div> <!-- col end -->


      <div class="col-sm-4">

        <div class="people-box-search center">
          <h3>Search for People</h3>
          <%= form_tag(department_path(@department), :method => "get", id: "search-form") do %>
          <div class="input-group">
            <%= text_field_tag :search_people, params[:search_people], placeholder: "Search People", class: "form-control", required: true %>
            <div class="input-group-btn">
              <%= submit_tag "Search", :name => nil, class: "btn-search btn-sm btn-primary" %>
            </div>
          </div>
          <!-- /btn-group -->
        </div>
        <!-- /input-group -->
        <% end %>
        <% if @searchResultsPeople %>
        <% for part in @searchResultsPeople %>
        <div class="center grey-bg">
          <%#= link_to "#{part.firstName} #{part.lastName}", unit_path(part.unit_id), :class => "family-card-search btn tiny-margin" %>
          <div class="family-card-search family-card-search btn tiny-margin"><%= part.firstName %>
            <%= form_for [@department] do |f| %>
              <%= f.hidden_field :leaderName, :value => "#{part.firstName} #{part.lastName}" %>
              <%= f.submit "Leader", :class => "btn btn-sm btn-primary"%>
          <% end %>
          </div>
        </div>

        <% end %>
        <% end %>
        <!-- of SearchResults end -->
        <br><br>




  <!-- SHOWS only positions in this Department -->
  <div class="people-box">
  <h4>People in this department</h4><br>
      <% @positions.each do |position| %>
      <!-- Filters only this department -->
        <% if position.department.id === @department.id %>
        <div class="people-btn">
            <span class="grey-btn white">
             <%= position.part.firstName %> <%= position.part.lastName %>
            </span>
            <span class="black">
              <%= link_to "X", position, :class => "black", :id => "delete-test", :data => {:confirm => "Are you sure?",:method => "delete"}%>
            </span><br><br>
            </div>
        <% end %>
        <% end %> <!-- Filter end -->
        <br>
        <%= link_to 'Add Person', new_position_path, :class => "btn-sm btn-primary" %>

</div>




<!-- Original Version -->
        <%# @positions.each do |position| %>
          <%#= position.department.name %>
                <%#= position.part.firstName %>
            <%#= link_to 'Show', position %>
            <%#= link_to 'Edit', edit_position_path(position) %>
            <%#= link_to 'Delete', position, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%# end %>
        <%#= link_to 'New Position', new_position_path %>


      </div> <!-- col end -->
    </div> <!--row end -->

  </div><!-- flex-block end -->
</div><!-- flex-container end -->
