<div class="flex-container-big">
  <div class="flex-block-big">

    <div class="row">
      <div class="col-sm-5">

        <div class="h2-white">Department - Show</div>
        <br><%= link_to 'Back', :back %>
        <br>

        <h3><%= @department.name %>
          Department
        </h3><br>
        <span class="h5-grey">Description</span>
        <p><%= @department.description %></p>
        <br>

        <%= link_to "Delete Department", department_path(@department), :class => "btn btn-sm btn-danger pull-right",:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %>

        <!-- Javascript form toggle -->
        <div class="edit_family btn btn-sm btn-warning">Edit Department</div>
        <div class="edit_f">
          <%= render "form" %>
        </div>
      </div>
      <!-- col end -->
      <div class="col-sm-4">

        <!-- SHOWS only positions in this Department -->
        <div class="people-box">
          <h4>People in this department</h4><br>
          <% @positions.each do |position| %>
          <!-- Filters only this department -->
          <% if position.department.id === @department.id %>
          <div class="people-btn">
            <span class="grey-btn white" id="pos_<%= position.id %>">
              <%= position.part.firstname %>
              <%= position.part.lastname %>
              <% if position.position2 === "Worker" %>
              <%= image_tag("worker.png", :class => "icon-size-tiny")%>
              <% end %>
              <% if position.position2 === "Leader" %>
              <%= image_tag("leader.png", :class => "icon-size-tiny")%>
              <% end %>
              <% if position.position2 === "Department Head" %>
              <%= image_tag("dep_head2.png", :class => "icon-size-tiny")%>
              <% end %>

            <span class="X">
              <%= link_to "X", position, :class => "black", :id => "delete-test", :data => {:confirm => "Are you sure?",:method => "delete"}, remote: true %>
            </span></span>
          </div>
          <% end %>
          <% end %>
          <!-- Filter end -->
          <br>
          <%= link_to 'Add Person', new_position_path(:dep_id => @department), :class => "btn-sm btn-primary" %>
        </div>

        <!-- Original Version -->
        <%# @positions.each do |position| %>
        <%#= position.part.firstname %>
        <%#= link_to 'Show', position %>
        <%#= link_to 'Edit', edit_position_path(position) %>
        <%#= link_to 'Delete', position, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%# end %>
        <%#= link_to 'New Position', new_position_path %>

      </div>
      <!-- col end -->
    </div>
    <!--row end -->

  </div>
  <!-- flex-block end -->
</div>
<!-- flex-container end -->
