<!-- <div class="flex-container-big">
  <div class="flex-block-big"> -->

  <div class="blue-bar">
    <div class="h2-white center">Dashboard</div>
  </div>

  <div class="col-sm-5"><br>
    <div class="h3-white pull-left">Summary</div><br><br>
      <p>Momentum is a software that allows non profit organizations or social movements to organize their internal structure. The development has been organized into phases with the first one below.</p>
      <br>

      <div class="slider">
          <%= image_tag("city-slider.jpg", :class => "img-responsive") %>
      </div><br>

      <div class="h3-white pull-left">News</div><br><br>

      <div class="notice-box">
      </div><br>

  </div>


  <div class="col-sm-7"><br>
      <%= calendar number_of_days: 7, events: @calendar_events do |day, events| %>
      <div>
        <strong><%= day.to_s %></strong>
      </div>
      <% events.each do |event| %>
      <div>
        <%= link_to event.name, revent_path(event.id, time: event.start_time) %>
        <%= event.start_time.strftime("%I:%M %p") %>
      </div>
      <% end %>
      <% end %>

      <div class="family-list"><br>
        <%= link_to "Add My Family", new_unit_path, :class => "btn-sm btn-primary pull-right" %>
        <span class="h3-white">My Family </span><br><br>

        <% if @units.any? %>
          <% @unique_family.each do |p1| %>
          <%= link_to "#{p1.familyname} Family - View Members", unit_path(p1), :class => "family-card btn" %><br>
        <% end %>
        <% else %>
          <h3 class="h2-white pull-left">No Families Yet</h3>
        <% end %>
      </div>

  </div><!-- col end -->





  <div class="col-sm-12">
    <div class="edit_family btn btn-sm btn-primary h3-white">Development Overview</div>
       <div class="edit_f"><br><br>
      <div class="h3-white pull-left">Implemented</div><br><br><br>
        <p>Admin - store families and people that belong to those families</p>
        <p>Admin - store departments and assign people to those departments</p>
        <p>Admin - store events and check people into those events</p>
        <p>Admin - view basic statistics total users, families, people, and track attendance and movement growth over time</p>
        <p>User - create an account</p>
        <p>Admin - assign people to serve in events to meet needs</p>
        <p>Admin - create event needs</p>
        <p>Admin - Update and delete any users</p>
        <br><br>

      <div class="h3-white pull-left">Still to do</div><br><br><br>
        <br><p>------ General ------</p>
        <p>Admin - View Stats - Needs Refining</p>
        <p>Admin - View Dashboard with upcoming events</p>
        <p>User - Report a bug or development suggestion</p>

        <br><p>------ Users ------</p>
        <p>User - Update your account settings, picture and family details</p>
        <p>User - View events user is signed up to serve in </p>
        <p>User - View serving opportunities on the dashboard</p>
        <p>User - Sign up to serve in an event or department</p>
        <p>Admin - Approve users serving in an event or department</p>

        <br><p>------ Giving ------</p>
        <p>User - donate money or pay for group activities</p>

        <br><p>------ Group ------</p>
        <p>User - become a leader and establish a group</p>
        <p>Leader - add people to your group and group details</p>
        <p>Leader - message your group members</p>
        <p>Leader - email other people</p>

        <br><p>------ Email Marketing ------</p>
        <p>Email Announcment or meeting to all users</p>

        <p>Admin - post announcements/news to the dashboard</p>

    </div>

   </div>

<!-- </div>
</div> -->
