<div class="flex-container-big">
  <div class="flex-block-big">
    <div class="row">
      <div class="col-sm-5">
        <div class="h2-white">Check Details</div>
        <br><br>


        <h3><%= @event.name %></h3>
        <p><%= @event.date%></p><!-- .strftime("%A, %b %d, %Y")  Tuesday, Jan 28, 2015 -->
        <span class="h5-grey">Starting</span>
        <p><%= @event.starttime %></p><br> <!--.strftime("%I:%M %p") -->
        <span class="h5-grey">Location</span>
        <p><%= @event.locationname %></p>
        <span class="h5-grey">Address</span>
        <p><%= @event.street %><br>
           <%= @event.city %><%= @event.state %> <%= @event.zip %></p>

        <span class="h5-grey">Description</span>
        <p><%= @event.description %></p>
        <br>

      </div>
      <!-- col end -->
      <div class="col-sm-4">

        <!-- SHOWS only spectators in this Event -->
        <div class="people-box">
          <h4>Event Participants  <%= @event.spectators.count %></h4>
          <br>
          <% @spectators.each do |spectator| %>
          <!-- Filters only this event -->
          <% if spectator.event.id === @event.id %>
            <span class="grey-btn white">
              <%= spectator.part.firstname %>
              <%= spectator.part.lastname %>
            </span>
          <% end %>
          <% end %>
          <!-- Filter end -->
          <br>
          <%= link_to 'Checkin Person', new_spectator_path, :class => "btn btn-primary" %>
        </div>

      </div>
      <!-- col end -->
    </div>
    <!--row end -->

  </div>
  <!-- flex-block end -->
</div>
<!-- flex-container end -->
