<!-- <div class="flex-container-big">
  <div class="flex-block-big"> -->

  <div class="blue-bar">
    <div class="h2-white">Events - Index</div>
  </div>

    <div class="col-sm-5">
      <br>
      <br>
    <%= link_to "New event", new_event_path, :class => "btn btn-sm btn-primary" %>
    <%= link_to 'Check Person In', new_spectator_path, :class => "btn btn-sm btn-warning" %>

    <br><br>
    <br>
    <% if @events.any? %>
    <% @events.each do |eve| %>
    <div class="well-event">
      <%= link_to "#{eve.name}", event_path(eve), :class => "h2-black" %><br>
      <%= eve.date.strftime("%A, %b %d") %><!--   Tuesday, Jan 28, 2015 -->
      @ <%= eve.starttime.strftime("%I:%M %p") %><br><!--   Javascript form toggle -->
      <div class="edit_family pull-right marg-">Quick Edit</div>
        <div class="edit_f">
          <%= form_for [eve] do |f| %>
            <div class="field">
              <%= f.text_field :name, :required => 'true', :class => 'form-control input-lg' %>
            </div>

            <div class="field">
              <%= f.date_select :date,:order => [:month, :day, :year], :class => 'form-control input-lg' %>
              <%#= f.text_field :date, data:{ provide:'datepicker' }, :placeholder => 'Date of Event', :required => 'true', :class => 'form-control input-lg'  %>
            </div>
            <div class="field">
              <%= f.time_select :starttime, {:ampm => true}, :default => Time.now, :class => 'form-control time-select' %>
            </div>
              <%= f.submit "Save", :name => nil, class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
    </div>  <!-- well-event end -->
        <%#= link_to "Edit",  edit_event_path(eve, @eve_id = eve.id), :class => "pull-right" %>
        <%#= link_to 'Add Person', new_spectator_path, :class => "btn custom-btn btn-primary" %>
    <% end %>
    <% else %>
      <h3 class="h2-white pull-left">No events Yet</h3>
    <% end %>


</div>  <!-- col end -->

  <div class="col-sm-7">

    <%= month_calendar events: @events do |date, events| %>
        <div class="pull-right cal-date"><%= date %></div>

    <% events.each do |events| %>
        <div class="cal-bold"><%= events.starttime.strftime("%I:%M %P") %></div> <!-- %e removed leading 0 -->
        <div class="cal-text"><%= events.name %></div>
    <% end %>
  <% end %>

    </div><!-- col end -->

  <!-- </div>
</div> -->
