<div class="well">


<%= form_for(revent) do |f| %>
  <% if revent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revent.errors.count, "error") %> prohibited this revent from being saved:</h2>

    <ul>
      <% revent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :recurring %>
    <%= f.select_recurring :recurring, nil, allow_blank: true %>   <!-- clear out and allow edit -->
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
