<div class="well">
<%= form_for [@revent] do |f| %>
  <% if @revent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revent.errors.count, "error") %> prohibited this revent from being saved:</h2>

    <ul>
      <% @revent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => 'Event Name', :class => 'form-control input-lg' %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <hr>
  <div class="field">
  <%= f.text_field :locationname, :placeholder => 'Location Nickname', :class => 'form-control input-lg' %>
  </div>
  <div class="field">
  <%= f.text_field :street, :placeholder => 'Street', :class => 'form-control input-lg' %>
  </div>
  <div class="field">
  <%= f.text_field :city, :placeholder => 'City', :class => 'form-control input-lg' %>
  </div>
  <div class="field">
  <%= f.text_field :state, :placeholder => 'State', :class => 'form-control input-lg' %>
  </div>
  <div class="field">
  <%= f.text_field :zip, :placeholder => 'Zip', :class => 'form-control input-lg' %>
  </div>
  <div class="field">
  <%= f.text_field :country, :placeholder => 'Country', :class => 'form-control input-lg' %>
  </div>
  <div class="field">
  <%= f.text_area :description, :placeholder => 'Description', :class => 'form-control input-lg' %>
</div> <hr>


  <div class="field">
    <%= f.label :recurring %>
    <%= f.select_recurring :recurring, nil, allow_blank: true %>   <!-- clear out and allow edit -->
  </div>


  <div class="actions">
    <%= f.submit "Save", :class => "btn-sm btn-primary"%>
  </div>
<% end %>
    <%= link_to "Cancel", :back, {:class=>"btn-sm btn-default btn-cancel"} %>
</div>
