<div class="flex-container-big">
  <div class="flex-block-big">
    <div class="row">
      <div class="col-sm-5">
        <div class="h2-white">Revent - Show</div>
        <br><%= link_to 'Back', :back %>
        <br>

        <h3><%= @revent.name %></h3>
        <span class="h5-grey">Starting</span>
        <p><%= @revent.start_time.strftime("%I:%M %p") %></p><br><!--.strftime("%I:%M %p") -->
        <span class="h5-grey">Location</span>
        <p><%= @revent.locationname %></p>
        <span class="h5-grey">Address</span>
        <p><%= @revent.street %><br>
          <%= @revent.city %><%= @revent.state %>
          <%= @revent.zip %></p>
        <span class="h5-grey">Recurring</span>
        <% if @revent.recurring === {} %>
          <p>No</p>
        <% else %>
          <p>Yes</p>
        <% end %>
        <span class="h5-grey">Description</span>
        <p><%= @revent.description %></p>
        <br>
        <%= link_to "Delete Event", revent_path(@revent), :class => "btn btn-sm btn-danger pull-right",:data => {:confirm => "Are you sure?",:method => "delete"} %>

        <!-- Javascript form toggle -->
        <div class="edit_family btn btn-sm btn-warning">Edit Event</div>
        <div class="edit_f">
          <%= render "form" %>
        </div>
        <%#= link_to 'Full Edit', edit_revent_path(@revent) %>

      </div><!-- col end -->
      <div class="col-sm-4">

        <!-- Shows only spectators in this Event -->
        <div class="people-box">
          <h4>Current Attendance  <%= @revent.spectators.count %></h4>
          <br>
          <% @spectators.each do |spectator| %>
          <% if spectator.revent.id === @revent.id %>
            <span class="grey-btn white" id="spec_<%= spectator.id %>">
              <%= spectator.part.firstname %>
              <%= spectator.part.lastname %>
            <span class="X">
              <%= link_to "X", spectator, :class => "black", :id => "delete-test", :data => {:confirm => "Are you sure?",:method => "delete"}, remote: true%>
            </span></span>
          <% end %>
          <% end %>
          <!-- Filter end -->
          <br>
          <%= link_to 'Add Person', new_spectator_path, :class => "btn-sm btn-primary" %>
        </div>

    </div><!-- col end -->
  </div><!--row end -->
</div><!-- flex-block end -->
</div><!-- flex-container end -->
