<div class="well">

<!-- [@event, @spectator] -->
<%= form_for(@spectator) do |f| %>
<% if @spectator.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@spectator.errors.count, "error") %>
    prohibited this spectator from being saved:</h2>
  <ul>
    <% @spectator.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <label class="na">Event</label>
  <%= f.select :event_id,
  Event.order('name asc').all.collect { |u| [u.name, u.id] },
               { include_blank: false },
               { class: 'form-control selected' }
               %>
</div>


<div class="field">
  <label class="na">Person</label>
  <%= f.select :part_id,
  Part.order('lastname asc').all.map { |u| [u.lastname + ", " + u.firstname, u.id] },
               { include_blank: false},
               { class: 'form-control selected' }
               %>
</div>

<div class="actions">
  <%= f.submit "Save", :class => "btn-lg btn-primary"%>
</div>
<% end %>
  <%= link_to "Cancel", :back, {:class=>"btn-sm btn-default btn-cancel"} %>
</div>
<%#= f.select :event_id, @event %>
<%#= f.select :part_id, Part.all{ |u| [u.name, u.id] }  %>
<%#= f.hidden_field :event_id, value: event.id %>
