<!-- <div class="flex-container-big">
  <div class="flex-block-big">
    <div class="row"> -->
      <div class="col-sm-12">
        <br>
        <div class="h2-white">Statistics</div>
        <br>

        <div class="big-white-box ">
          <div class="col-sm-3">
            <div class="stat-title"><%= @current_year %></div>

              <span class="h2-black-clean">Total Attendees<span class="pull-right"><%= @spectactors_year %></span></span><br>
              Sunday Average <span class="pull-right"><%= @sunday_average %></span><br>
              Wednesday Average <span class="pull-right"><%= @wednesday_average %></span><br>
              <!-- Kids Average <span class="pull-right"><%= @kids_average %></span><br> -->
              Serving Average <span class="pull-right"><%= @serving_average %></span><br><br>

            <%= @today %><br>

            </div>
            <div class="col-sm-9">
              <div class="chart">
                <%= area_chart @chart1 %>
              </div>
            </div>
        </div>


        <div class="white-box col-sm-1">
          Total Events: <%= @y %><br><br>
          Total Events by day:<br>
          Sun <%= @s %><br>
          Mon <%= @m %><br>
          Tuesday <%= @t %><br>
          Wednesday <%= @w %><br>
          Thursday <%= @th %><br>
          Friday <%= @f %><br>
          Saturday <%= @sat %><br>
        </div>

        <div class="white-box col-sm-1">
          <span class="stat-title">This Week - <%= @startweek %>-<%= @endweek %></span><br>
          <span class="stat-sub">Adult Attendance </span><br>
          <span class="h2-black-clean"><%= @adultthisweek %></span><br>
          <!-- <span class="stat-body">Kids Attendance</span> <br> -->
          <%= @kidsthisweek %><br>
          <span class="stat-body">Serving </span> <br>
          <%= @servingthisweek %>
        </div>
        <div class="white-box col-sm-1">
          <span class="stat-title">Last Week - <%= @startlastweek %>-<%= @endlastweek %></span><br>
          <span class="stat-sub">Adult Attendance </span><br>
          <span class="h2-black-clean"><%= @lastweek%></span><br>
        </div>

      <div class="white-box col-sm-1">
        <div class="stat-title">General Stats</div>
        Total User Accounts: <%= @users.count %><br><br>

        Total Families: <%= @units.count %><br>
        Week: <%= @units7 %>
        Month: <%= @units30 %>
        Year: <%= @units365 %><br><br>

        Total People: <%= @parts.count %> <br>
        Week: <%= @parts7 %>
        Month: <%= @parts30 %>
        Year: <%= @parts365 %><br>

        Full Month: <%= @specfullmonth.count %>

      </div><br>

      <div class="col-sm-12">

        <div class="h3-white">Extra Sample Ideas Families</div>

        <div class="h3-white">Users by day</div>
        <%= line_chart Unit.group_by_day(:created_at).count %>
        <div class="h3-white">People by day</div>
        <%= line_chart Part.group_by_day(:created_at).count %>
        <div class="h3-white">People by week</div>
        <%= pie_chart Part.group_by_week(:created_at).count %>

      </div><!-- col end -->
    </div> <!-- big-col end -->
    <!-- </div>
  </div>
</div> -->
