<!DOCTYPE html>
<html>
  <head>
    <title>Movement</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald|Passion+One|Open+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-12 left-column">

      <div id="icon-menu" class="center">
      <br>
      <%= image_tag("threelines.png", :class => "menu-icon-size", :onclick => 'openNav()')%>
      <%= link_to image_tag("home.png", :class => "nav-icon-size"), root_path %>
      <%= link_to image_tag("people.png", :class => "nav-icon-size"), units_path %>
      <%= link_to image_tag("serve.png", :class => "nav-icon-size"), serve_path %>
      <%= link_to image_tag("stats.png", :class => "nav-icon-size"), stats_path %>
      <%= link_to image_tag("checkin.png", :class => "nav-icon-size"), checkins_path %>
      <%= link_to image_tag("event.png", :class => "nav-icon-size"), revents_path %>
      <%= link_to image_tag("departments.png", :class => "nav-icon-size"), departments_path %>

      </div>
      <div id="mySidenav" class="sidenav center">
        <nav class="nav">
        <li class="close-menu" onclick="closeNav()"><%= link_to "Menu", root_path, :class => 'notWorking' %></li>
        <li class="<%= 'active_bg' if current_page?(root_path) %>"><%= link_to "Home", root_path, :class => 'notWorking' %></li>
        <li class="<%= 'active_bg' if current_page?(units_path) %>"><%= link_to "People", units_path, :class => 'notWorking' %></li>
        <li><%= link_to "Serve", serve_path, :class => 'notWorking' %></li>
        <li><%= link_to "Stats", stats_path, :class => 'notWorking' %></li>
        <li class="NA"><%= link_to "Event Check-in", checkins_path, :class => 'notWorking' %></li>
        <li class="<%= 'active_bg' if current_page?(revents_path) %>"><%= link_to "Events", revents_path, :class => 'notWorking' %></li>
        <li class="<%= 'active_bg' if current_page?(positions_path) || current_page?(departments_path) %>"><%= link_to "Departments", departments_path, :class => 'notWorking' %></li>

        <h5>Groups</h5>
        <h5>Files</h5>
        <h5>Give</h5>
        <h5>Forms</h5>
        <h5>Mail Merges</h5>
        <h5>Messages</h5>
        <h5>Needs/Announcements</h5>
        <h5>Report Bug</h5>
      </div>

    <div id="content-container">
      <div class="right-column"> <!-- col-sm-9 -->

        <div class="logo logo-box center">
          <%#= link_to image_tag("logo.png", :class => "logo img-responsive logo-center"), root_path %>
          <%= link_to 'Momentum', root_path, :class => 'NA'  %></span>
        </div>
        <div class="topbar">
          <div class="login-desktop pull-right shift-down">
            <% if current_user %>
            <li>
              <span class="blue">
                <%= link_to current_user.email, edit_user_registration_path %>
                |
                <%= link_to "Log-out", destroy_user_session_path, method: "delete" %>
                <%= link_to image_tag("settings.png", :class => "nav-icon-size"), edit_user_registration_path %>
                <%#= image_tag("settings.png", :class => "icon-size")%></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></a>
              <%= link_to image_tag("settings.png", :class => "nav-icon-size"), edit_user_registration_path %>
            <% end %>
          </div>
          <div class="login-mobile center">
            <% if current_user %>
            <li>
              <span class="blue">
                <%= link_to current_user.email, edit_user_registration_path %>
                |
                <%= link_to "Log-out", destroy_user_session_path, method: "delete" %>
                <%= link_to image_tag("settings.png", :class => "nav-icon-size"), edit_user_registration_path %>
                <%#= image_tag("settings.png", :class => "icon-size")%></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></a>
              <%= link_to image_tag("settings.png", :class => "nav-icon-size"), edit_user_registration_path %>
            <% end %>
          </div>




        </div>
        <div class="">
          <%= yield %>
          <span class="grey shift-right flash" id="flash"><%= flash[:notice] %><%= flash[:errors] %></span>
        </div>

      </div> <!-- right-col end -->
    </div> <!-- content-container end -->

    <!-- LOGIN -->
    <% if @showlogin === true %>
    <div class="menu">
      <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
      |
      <%= link_to current_user.email, edit_user_registration_path %>
    <% else %>
      <%= link_to "Log-in", new_user_session_path %></a>
    <%= link_to "Signup", new_user_registration_path %></a>
  <% end %>
</div>
<!-- login end -->
<% end %>

</nav>
</body>
</html>
